[push]
	default = simple
[url "https://"]
	insteadOf=git://
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	email = scharfat@gmail.com
	name = Adam Scharf
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
